@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    background-color: #f5f5f5;

}

.Cread-Card {
    width: 1100px;
    margin: auto;
}

.Card-Head {}

.Card-Head h1 {
    font-family: 'Noto Serif', serif;
    color: #8daca6;

}

.Card-Head p {
    font-family: 'Noto Serif', serif;
}

.Card-Head img {
    margin: 2px;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #ffffff;
    box-shadow: -10px 10px 20px 0px rgb(0 0 0 / 12%);
}



.Footer-section {
    width: 1000px;
    margin: auto;
}

.Footer-section h1 {
    font-family: 'Noto Serif', serif;
    color: #6ec1e4s;
}

.Footer-section input {
    margin: 5px;
    font-family: 'Noto Serif', serif;
    padding: 3px;
    font-size: 18px;
}

.Footer-section h3 {
    font-family: 'Noto Serif', serif;
}

.Footer-section h4 {
    font-size: 30px;
    font-family: 'Noto Serif', serif;
}

.Footer-section button {
    /*! background-color: red; */
    width: 975px;
    height: 42px;
    background-color: #ff4e60;
    margin-bottom: 50px;
}

/*  */